.body_bg {
    background-image: url("bg1.jpg");
    background-size: cover;
    background-position: center;
}

h1 {
    color: rgba(165, 42, 42, 0.671);
    size: 30px;
}

#logo_canvas {
    border-width: 5px;
    border-style: dashed;
    background-color: white;
}

span {
    font-size: 20px;
}